{% extends 'base.html' %}
{% block title %}Admin {% endblock %}

{% block body %}
<div style="background:#227e85;border:none;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2 admin-sidebar" style="color:#FFF">
        <ul id="menu-content" class="menu-content">
           
        </ul>
      </div>
      <div class="col-sm-10" style="background:#FFF; min-height:620px">
           <h2 style="padding:10px 0 12px 0;margin: 0;font-size: 1.8em; color: #064d68; line-height: 1.5em;font-style: inherit;font-family: verdana;">
            Add certificate for "{{article.article_title}}"
           </h2>
            <form class="" action="" method="post">{% csrf_token %}
                    <input type="hidden" name="article" value="{{ article }}"> 
                    <div class="form-group">
                    <label class="control-label" for="{{ form.certificate_number.id_for_label }}">{{ form.certificate_number.label_tag }}</label>
                    {{ form.certificate_number }}
                    </div>

                    <div class="form-group">
                    <label class="control-label" for="{{ form.certificate_date.id_for_label }}">{{ form.certificate_date.label_tag }}</label>
                    {{ form.certificate_date }}
                    </div>
                  <div class="">
                    <button type="submit" class="btn btn-primary  btn-large" id="submit"><span>Create Entry</span></button> 
                    <label for=""> Or </label><span> <a style="color:#FF7700" href="">Cancel</a></span> 
                  </div>
                  </div>
                    <div class="">
                     <label class="control-label" for="" style="color:#c00;font-style:normal; padding-top:10px;padding-bottom: 10px;;">required fields</label>
                     </div>                 
              </form>        
      </div>
    </div>
  </div>
</div>

{% endblock %}